<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{.Title}}</title>

 	<!-- default bootstrap css -->
	<link href="/css/journal.css" rel="stylesheet">

 	<!-- custom css -->
 	<link href="/css/style.css" rel="stylesheet">
</head>
<body lang="en">
	<div class="container">
		<div class="row">
			<div class="navbar navbar-default navbar-inverse" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{.Site.BaseUrl}}">{{ .Site.Title }}</a> 
				</div>
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{ .Site.BaseUrl }}">Home</a></li>
						<li><a href="{{ .Site.BaseUrl }}/page/about/">About</a></li>
						<li><a href="{{ .Site.BaseUrl }}/page/resume/">Resume</a></li>
						<li><a href="{{ .Site.BaseUrl }}/post/">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>