

           </div> <!-- #main -->
        </div> <!-- #main-container -->
       
        <div class="footer-container">
            <footer class="wrapper">
                <a href="{{.Site.BaseURL}}"><h3>{{ .Site.Title }}</h3></a>
            <script type="text/javascript" src='http://adn.ebay.com/files/js/min/jquery-1.6.2-min.js'></script>

            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{.Site.BaseURL}}/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{{.Site.BaseURL}}/js/main.js"></script>

</script>
    </body>
</html>
