<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "meta.html" . }}
{{ partial "header.includes.html" . }}
    {{ `<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->` | safeHTML }}
    <!-- RSS -->
    {{ if .RSSlink }}
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
</head>
