<div class="sidebar_single_module">
        <div class="sidebar_wraper">
                <div class="sidebar_inner">
                        <div class="flickr_widget">
                                <h2>Flickr Widget</h2>
                                <div>
                                        <a href="#"><img src="/static/images/thumbnail.jpg" alt="Title" /></a>
                                        <a href="#"><img src="/static/images/p2.jpg" alt="Title" /></a>
                                        <a href="#"><img src="/static/images/p3.jpg" alt="Title" /></a>
                                        <a href="#"><img src="/static/images/p4.jpg" alt="Title" /></a>
                                        <a href="#"><img src="/static/images/p5.jpg" alt="Title" /></a>
                                        <a href="#"><img src="/static/images/p22.jpg" alt="Title" /></a>
                                </div>
                        </div>
                </div>
        </div>
</div>
