<div class="sidebar_single_module">
        <div class="sidebar_wraper">
                <div class="sidebar_inner">
                        <div class="right_menu_area">
                                <ul class="nav nav-pills nav-stacked">
                                        <li><a href="/index.html">Home</a></li>
                                        <li>
                                                <a href="#">Filter</a>
                                                <ul>
                                                        <li><a href="#">Audio</a></li>
                                                        <li><a href="#">Chat</a></li>
                                                        <li><a href="#">Photo</a></li>
                                                        <li><a href="#">Gallery</a></li>
                                                        <li><a href="#">Quote</a></li>
                                                        <li><a href="#">Text</a></li>
                                                        <li><a href="#">Video</a></li>
                                                </ul>
                                        </li>
                                        <li>
                                                <a href="#">Page</a>
                                                <ul>
                                                        <li><a href="columns.html">Columns Fullwidth</a></li>
                                                        <li><a href="columns_Variant.html">Columns</a></li>
                                                </ul>
                                        </li>
                                        <li><a href="shortcode.html">Shortcode</a></li>
                                        <li><a href="#">Archives</a></li>
                                        <li><a href="#">Contact</a></li>
                                </ul>
                        </div>
                </div>
        </div>
</div>
