<div class="sidebar_single_module">
        <div class="sidebar_wraper">
                <div class="sidebar_inner">
                        <form action="#" method="post">
                                <div class="search_box">
                                        <i class="icon icon-search"></i>
                                        <input type="text" placeholder="Search Here..." name="search"/>
                                </div>
                        </form>
                </div>
        </div>
</div>
