<div class="sidebar_single_module">
        <div class="sidebar_wraper">
                <div class="sidebar_inner">
                        <div class="text_widget twitter_widget">
                                <h2>Twitter feeds</h2>
                                <div class="single_tweets">
                                        <h3><a href="#">@HeyDesigner</a></h3>
                                        <p>Sketchcasts - A weekly screencast covering Sketch</p>
                                        <a href="http://t.co/e5DEW3s">http://t.co/e5DEW3s</a>
                                        <span>26 Feb 2014</span>
                                </div>
                                <div class="single_tweets">
                                        <h3><a href="#">@mate_ciao</a></h3>
                                        <p>Utinam putant elige. </p>
                                        <a href="http://t.co/e3q0ZW2OOr">http://t.co/e3q0ZW2OOr</a>
                                        <span>26 Feb 2014</span>
                                </div>
                                <a href="" class="btn btn-default twitter_btb">Follow on Twitter</a>
                        </div>
                </div>
        </div>
</div>
