<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ .Title }}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/normalize.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/skeleton.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/custom.css">
	</head>
	<body>
		<div class="container" style="background-color:#FFFFFF; border-bottom: 0px solid #eee;">
			<div class="row">
				<div class="seven columns">
					<a href="{{ .Site.BaseURL }}" style="text-decoration: none; color: #333;">{{ .Site.Params.blogHeader | safeHTML }}</a>
					<span style="font-size: 14px;">|<i>{{ .Site.Params.tagline }}</i></span>
				</div>
				<div class="five columns">
					<div class="navbar-spacer"></div>
					<ul class="navbar-list" style="float:right">
						<li class="navbar-item"><a class="navbar-link" href="{{ .Site.BaseURL }}/{{ .Site.Params.aboutLink }}">about</a></li>
						<li class="navbar-item"><a class="navbar-link" href="{{ .Site.Params.githubUrl }}" target="#">code</a></li>
						<li class="navbar-item"><a class="navbar-link" href="mailto:{{ .Site.Params.contactEmail }}">contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{{ with  .Site.Params.headerimg }}
			<div class="row">
				<div class="twelve columns" >
					<img class="u-max-full-width" src="{{ $.Site.BaseURL }}/img/{{ . }}">
				</div>
			</div>
			{{ end }}
