// -------------------------------------------
//   Variables
// -------------------------------------------

/* Measures */
$header-height: 100px;

/* Colors */
$concrete: #f2f2f2;
$red: #e57066;
$blue: #51b2e9;
$yellow: #E5E166;
$green: #90FF6E;
$orange: #FFA040;

$gray: #5e5e5d;
$soft-gray: #9b9b9b;

/* Fonts */
$pt-serif: 'PT Serif', serif;
