<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ .Title }}</title>

  <meta name="description" content="{{ .Title }}"/>
  <meta name="author" content="{{ .Site.Author.name }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <base href="{{ .Site.BaseURL }}/" />

  <link rel="stylesheet" href="css/fonts.css"/>
  <link rel="stylesheet" href="css/normalize.css"/>
  <link rel="stylesheet" href="css/skeleton.css"/>
  <link rel="stylesheet" href="css/custom.css"/>
  <link rel="stylesheet" href="genericons/genericons.css"/>
  {{ $theme := "tomorrow-night" }}
  {{ if isset .Site.Params "highlight_theme" }}
    {{ $theme := .Site.Params.highlight_theme }}
  {{ end }}
  <link rel="stylesheet" href="highlight/{{ $theme }}.css"/>

  <link href="index.xml" rel="alternate" type="application/rss+xml" title="Posts + Links" />
  <link href="links/index.xml" rel="alternate" type="application/rss+xml" title="Links" />
  <link href="posts/index.xml" rel="alternate" type="application/rss+xml" title="Posts" />

  {{ partial "header_extra.html" . }}
</head>
<body>
