      <div class="home_single_post">
        <div class="post_content_area">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              <div class="single_post_content">
                <div class="single_blockquote">
                  <h2><a href="#"><sup>&ldquo;</sup>{{ .Description }}<sup>&rdquo;</sup></a></h2>
                  <a href="">{{ .Params.quote_source }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
