      <article class="home_single_post gallery_post_type" typeof="BlogPosting">
{{ partial "post/image_area.html" . }}
        <div class="post_content_area">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              <div class="post_list" property="articleBody">
                <header><h2><a href="{{ .Permalink }}" property="headline">{{ .Title }}</a></h2></header>
              </div>
              {{ partial "post/info.html" . }}
            </div>
          </div>
        </div>
      </article>
